#hrt_aboutLink {
	display: block;
	padding-top: 20px;
}

#hrt_aboutClickZone {
	z-index: 6;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.2); 
}

#hrt_aboutModal {
	width: 530px;
	z-index: 7;
	position: fixed;
	font-size: 14px;
}

#hrt_aboutModalInner {
	background-color: white;
	border: 10px solid rgb(223,0,0);
	padding: 20px;
	height: 400px;
	overflow-y: scroll;
	color: rgb(0,0,0);
}

#hrt_aboutModal STRONG {
	margin-bottom: 10px;
	display: block;
}

#hrt_aboutModal SPAN {
	margin-bottom: 20px;
	display: block;
}

#import_raw { 
	position: relative;
	opacity: 0;
	z-index: 8;
}

#fake_import { 
	position: relative;
	top: -26px;
	margin-bottom: -26px;
}
	
.hover_tip_L  { 
	opacity: .9;
	/*
	background: transparent url('chrome-extension://__MSG_@@extension_id__/images/tipRight.png');
	background-repeat-y: no-repeat;
	background-repeat-x: repeat;
	*/
	z-index: 65531;
	display: none;
}

.hover_tip_L > span  { 
	display: block;
	padding: 2px 4px;
	border-radius: 4px;
	background-color: #000;
	font-size: 14px;
	color: white;
}


#meter_widget { 
	position: relative;
	float: left;
}

#meter_title { 
	display: block;
	margin: 0px 0px 0px 10px;
	padding-top: 6px;
	text-decoration: none;
	cursor: text;
}

#meter_title div { 
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #556F1E;
}

#meter_title .hover_tip_L  { 
	position: absolute;
	width: 170px;
	left: 0px;
	top: 0px;
}

#meter_title::after  { 
	content: '\e085';
	font-family: 'Glyphicons Halflings';
	font-size: 14px;
	padding-left: 2px;
	vertical-align: middle;
}

#meter_title:hover p { 
	display: block;
}

#adjusted_tomato { 
	float: left;
	margin: 0px 0px 6px 6px;
	width: 50px;
	height: 50px;
	background: url('chrome-extension://__MSG_@@extension_id__/images/meter.png') left top no-repeat;
}

#adjusted_score { 
	float: left;
	margin-top: 0px;
	margin-left: 3px;
	color: #506A16;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 36px;
	font-weight: bold;
}

#adjusted_percent { 
	float: left;
	margin-top: 6px;
	font-size: 24px;
	color: #506A16;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#distribution_widget { 
	position: relative;
	float: left;
}

#dist_holder { 
	display: block;
	position: relative;
	width: 170px;
	height: 35px;
	margin-top: 3px;
	margin-bottom: 12px;
	background: url('chrome-extension://__MSG_@@extension_id__/images/distribution_bg.png') left top no-repeat;
}

#dist_holder div { 
	display: block;
	float: left;
	width: 29px;
	height: 0px;
	margin-right: 5px;
	margin-top: 0px;
	background-color: rgba(205, 0, 0, 0.6);
}

#rating_title { 
	display: block;
	width: 176px;
	float: left;
	margin: 0px;
	border-top: 1px solid rgb(214, 214, 214);
	text-decoration: none;
	cursor: text;
}

#rating_title div { 
	display: inline;
	margin-left: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: rgb(94,94,94);
}

#rating_title .hover_tip_L  { 
	position: absolute;
	width: 170px;
	left: 27px;
	top: 80px;
}

#rating_title::after  { 
	content: '\e085';
	font-family: 'Glyphicons Halflings';
	font-size: 14px;
	padding-left: 2px;
	vertical-align: middle;
}

#rating_title:hover p { 
	display: block;
}

#updating  { 
	float: left;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #000;
}

#rating_widget_HRT { 
	float: left;
	position: relative;
	margin-left: 10px;
	margin-bottom: 7px;
	overflow: hidden;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/star_rate_bg.png');
	background-repeat: no-repeat;
	background-position: 16px 0px;
}

#rating_widget_HRT ul  {
	visibility: hidden; 
	width: 176px;
	margin: 0;
	padding: 0;
}

#rating_widget_HRT li  { 
	display: inline;
	list-style: none;
}

#rating_widget_HRT li a { 
	float: right;
	margin: 0 80px 0 -160px;
	width: 96px;
	height: 16px;
	background: url('chrome-extension://__MSG_@@extension_id__/images/star_rate.png') left top repeat-x;
	background-position: left 16px;
	color: #000;
	text-decoration: none;
}

#rating_widget_HRT li a:hover { 
	background-position: left -32px;
}

#rating_widget_HRT li a:hover span { 
	left: 106px;
	width: 100%;
}

#rating_widget_HRT li a span { 
	position: absolute;
	font-size: 12px;
	left: -300px;
}

#rating_widget_HRT b { 
	position: absolute;
	width: 96px;
	height: 16px;
	background-position: left -16px;
	background: url('chrome-extension://__MSG_@@extension_id__/images/star_rate.png') left top repeat-x;
}

#rating_widget_HRT div b { 
	left: 0px;
	bottom: 0px;
	background-position: left top;
}

#user_rating {
	display: block;
	width: 96px;
	height: 16px;
	background: url('chrome-extension://__MSG_@@extension_id__/images/star_rate.png') left top repeat-x;
	background-position: 0px -16px;
}

li a#star_a_0	  { 
	background-position: 0px -48px;
}

li a#star_a_0:hover { 
	background-position: 0px -64px;
}

#critics_widget {
	margin: 0px; 
	margin-top: 20px; 
	background-color: rgb(242, 241, 231); 
	width: 100%; 
	padding: 0px;
	overflow: scroll;
	box-shadow: inset 0px -15px 20px -14px rgba(0, 0, 0, 0.2);
}

#critics_title { 
	display: block;
	float: left;
	margin: 3px 0px 0px 10px;
	padding: 0px 0px 7px 0px;
	text-decoration: none;
	cursor: text;
}

#critics_title div { 
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: rgb(160, 160, 160);
}

#critics_title .hover_tip_L  { 
	position: absolute;
	width: 336px;
	top: 212px;
	left: 243px;
}

#critics_title::after  { 
	content: '\e085';
	font-family: 'Glyphicons Halflings';
	font-size: 14px;
	padding-left: 5px;
	vertical-align: middle;
}

#critics_title:hover p { 
	display: block;
}

#critics_filter { 
	float: right;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #3c7ee2;
	padding: 7px 15px 0px 0px;
	text-decoration: none;

}

#critics_rows { 
	overflow: scroll;
	float: left;
	color: black;
}

.cr_empty {
	height: 150px;
}

.cr_filled {
	height: 150px;
	-webkit-transition-property: height;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease;
}

.cr_filled:hover { 
	height: 300px;
}

#critics_rows a {
	color: black;
}

#critics_rows div.row_wrapper { 
	float: left;
	width: 100%;
}

#critics_rows div.tiny_meter { 
	float: left;
	width: 12px;
	height: 12px;
	margin-top: 4px;
	margin-left: 10px;
	padding: 0px;
	background: url('chrome-extension://__MSG_@@extension_id__/images/tiny_meter.png') no-repeat top right;
}

#critics_rows div.fresh { 
	background-position: left -12px;
}

#critics_rows div.rotten { 
	background-position: left -24px;
}

#critics_rows div.unrated { 
	display: none;
}

#critics_rows div.shown	  { 
	display: block;
}

#critics_rows div.odd {
	background-color: rgba(0,0,0,0.06);
}

#critics_rows a.review { 
	float: left;
	margin: 2px 0px 5px 10px;
	width: 312px;
	height: 32px;
	font-size: 12px;
	display: block;
	overflow: hidden;
}

#critics_rows a.name {
	float: left;
	margin-left: 10px;
	width: 90px;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

#critics_rows a.ful { 
	color: rgba(38, 111, 221, 1.0);
}

#critics_rows a.med { 
	color: rgba(38, 111, 221, 0.6);
}

#critics_rows a.low { 
	color: rgba(38, 111, 221, 0.4);
}

#critics_rows a.non { 
	color: rgba(38, 111, 221, 0.2);
}

#critics_rows div.score { 
	float: left;
	margin-left: 5px;
	width: 25px;
	overflow: hidden;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

#critics_rows div.count { 
	float: left;
	margin: 2px 5px 0px 5px;
	width: 22px;
	overflow: hidden;
	font-size: 10px 
}

#critics_rows a.critic_heart { 
	float: left;
	display: block;
	width: 15px;
	height: 13px;
	margin: 2px 0px 0px 3px;
	background: url('chrome-extension://__MSG_@@extension_id__/images/heart_sprite.png');
}

#critics_rows a.critic_heart:hover { 
	background-position: 0px -13px;
}

#critics_rows a.favorite_critic { 
	background-position: 0px -26px;
}

#critics_rows div.noratings { 
	float: left;
	width: 100%;
	margin: 10px;
	margin-right: 20px;
	font-size: 12px;
	text-align: left;
}

